[run]
source = framework
omit = 
    */tests/*
    */venv/*
    */scripts/*
    */site-packages/*
    
[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__

[html]
directory = coverage_html_report
